#header-spacer {
    height: 50px;
}

#notice-carousel-inner {
    min-height: 100px; /* 높이 고정 */
    background-color: #f5f5f5; /* 연회색 */
    border-radius: 20px; /* 둥글게 */
    padding: 16px;
  }
  
  .carousel-indicators {
    justify-content: center;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #bbb;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
  
  .carousel-indicators .active {
    background-color: #007bff;
  }
